@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important; /* Optional if needed */
}
